name: Build Docker Image

on:
  push:
    branches: [ 'main' ]
  schedule:
    - cron: '0 0 1 * *'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version: [ '7.4', '8.1', '8.2' ]
        distribution: [ 'alpine', 'bullseye' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to Docker registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/ruscalworld/docker-php-grpc
          tags: ${{ matrix.php-version }}-${{ matrix.distribution }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            PHP_VERSION=${{ matrix.php-version }}
            DISTRIBUTION=${{ matrix.distribution }}
